:root {
    --primary-light-color: #fafafa;
    --primary-dark-color: #000;
    --hover-color: #44585e25;
    --brand-color: #ff4500;

}

/* Base */
body {
    background-color: var(--primary-light-color);
}

a {
    text-decoration: none;
    color: var(--primary-dark-color);
}

link {
    background-color: var(--hover-color);
}

/* Navbar */
.navbar-brand {
    color: var(--brand-color);
    font-weight: 700;
    font-size: 25px;
}

.nav-link {
    color: var(--primary-dark-color);
    font-weight: 600;
    font-size: 15px;
}

/* Posts Cards */
.card {
    max-width: 600px;
    height: auto;
}

.card :hover {
    background-color: var(--hover-color);
}

.card-text {
    font-size: 15px;
    color: var(--primary-dark-color);
    background-color: transparent!important;
}

.card-title {
    background-color: transparent!important;
}

.card-img {
    max-width: 100%;
    height: auto;
}

/* Post details */

.author {
    font-size: 15px;
}

.img {
    max-width: 250px;
    height: auto;
}

/* Profile style */

.profile-img {
    max-width: 250px;
    height: auto;

}

.img-background {
    background-color: var(--hover-color);
    border-radius: 50%;
}
