{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-xxl-12">
        {% for post in post_list %}
          <div class="card mb-4">
            <a href="{% url 'nicepost:post_details' post.id %}">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                {% if post.content %}
                  <p class="card-text">{{ post.content|truncatewords_html:30 }}</p>
                {% endif %}
              </div>
              {% for imgs in post.imgs.all %}
                {% if imgs.post_imgs %}
                  <img class="card-img" src="{{ imgs.post_imgs.url }}" alt="{{ post.title }} imgs" class="card-img" />
                {% endif %}
              {% endfor %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
