{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% comment %}Bootstrap styles{% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    {% comment %}Css styles{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg nav">
        <div class="container">
          <a href="{% url 'nicepost:home' %}" class="navbar-brand">NicePOST</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
                <form method="get">
                  <input type="search" placeholder="Search the post" />
                  <button type="submit">Search</button>
                </form>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'nicepost:home' %}"><span class="link">Home</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'nicepost:create_post' %}"><span class="link">Create</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}"><span class="link">Log out</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}"><span class="link">{{ user.username }}</span></a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="{% url 'account_login' %}" class="nav-link"><span>Log In</span></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% block footer %}

      {% endblock %}
    </footer>
  </body>
</html>
