{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <section>
    <div class="container mt-4">
      <p class="author">Author: {{ post.author }}</p>
      <a href="{% url 'nicepost:edit_post' pk=post.id %}">edit</a>
      <a href="{% url 'nicepost:delet_post' pk=post.id %}">delet</a>
      <h1 class="title">{{ post.title }}</h1>
      <p class="content">{{ post.content }}</p>
      {% for post_files in post.post_files.all %}
        {% if post_files.files %}
          <img src="{{ post_files.files.url }}" alt="{{ post.title }} imgs" />
        {% endif %}
      {% endfor %}
      {% if user.is_authenticated %}
        <form method="post" class="mt-4">
          {% csrf_token %}
          {{ comment.as_p }}
          <button type="submit">Comment</button>
        </form>
      {% else %}
        <p>To comment post's login please</p>
        <span><a href="{% url 'account_login' %}">Login</a></span>
      {% endif %}
    </div>
  </section>
  <section class="container mt-4">
    <h2>Comments:</h2>
    {% for comment in post.comments.all %}
      <div class="container">
        <small><a href="">{{ comment.author }}</a> | {{ comment.created_on }}</small>
        <h6>{{ comment.comment_text }}</h6>
      </div>
    {% endfor %}
  </section>
{% endblock %}
